@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0px;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizespeed;
    line-height: 1.5;
    font-family: "Work Sans", sans-serif;
    
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}


input, button, textarea, select {
    font: inherit;
}




/* Style Started from Here*/


.container{
    max-width: 96%;
    padding: 0px 20px;
    margin: 0 auto;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* primary-color{
color: #FF42A5;
} */

.logoAndMenu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

ul.nav-menu-wrapper {
    display: flex;
    align-items: center;
}

.nav-menu-wrapper li a {
    color: #3C354F;
    font-weight: 500;
    font-size: 1rem;
}

.nav-menu-wrapper li {
    margin-left: 28px;
}

.nav-menu-wrapper li:first-child{
    margin-left: 0px;
}

.nav-menu-wrapper li a{
    text-decoration: none;
}

.logo img {
    width: 32%;
    margin-right: 8px;
}

.logo span {
    font-size: 2rem;
    font-weight: bold;
    color: #0B0223;
}

.logo {
    
    display: flex;
}

#logo-title{
    color: #FF42A5;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a:active{
    color: none;
}

.navWithIcon {
    background: rgba(11, 2, 35, 0.1);
    padding: 9px 15px;
}

.navWithIcon a:first-child, .navWithIcon a:nth-child(2){
    margin-right: 9px;
}

.navWithIcon a i{
    font-size: 1.25rem;
}

.fa-youtube{
    color: red;
}



.fa-tiktok:first-child{
   color: #00f2ea;

}

.navWithIcon a:last-child{
    position: relative;
    font-size: 0.8rem;
}


.fa-tiktok:nth-child(2){
    color: #ff0050;
    position: absolute;
    left: 1px;
    bottom: -2px;
}

.fa-tiktok:last-child{
    color: #000000;
    position: absolute;
    left: 0px;
    bottom: -2px;
}




/* hero section */

.hero-section-wrapper{
    display: flex; /* We can also use display grid */
    gap: 25px;
}

.hero-content-box{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 105px;
    background-position: right;
}


.hero-content-box h1 {
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 515px;
    color: #0B0223;
}

.heor-img-box img {
    width: 85%;
}

.heor-img-box {
    
display: flex;
    
/* justify-content: flex-start; */
}

.goat-text {
    font-size: 5.3rem;
    text-align: center;
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-10px);
    display: inline-block;
    font-weight: 800;
}

.list-game-iteams{
    margin-bottom: 25px;
}

.list-game-iteams li {
    line-height: 35px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #534C64;
    
}

ul.list-game-iteams li i {
    font-size: 1rem;
    width: 21px;
    color: #FF42A5;
}

ul.list-game-iteams li:last-child i {
    font-size: 14px;
    color: #0B0223;
}

ul.list-game-iteams li:first-child i{
    color: #ff0000;
}

.hero-buttons a,
.btn-gamer
{
    background-color: #FF42A5;
    padding: 11px 30px;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 38px;
    font-weight: 600;
    text-decoration: none;
    transition: background-image 0.4s;
}


.hero-buttons a:nth-child(2){
    background-color: #4EC5F7;
}

.hero-buttons a:hover,
.btn-gamer:hover
{
    background-image: linear-gradient(#F948B2, #8758F1);
    
}


/* gamer section */

section.gamer-section,
section.videos-section
{
    background-color: #FFF9FC;
    padding: 60px 0px;
}

.gamer-section-wrapper {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.gamer-img-box {
    width: 58%;
}

.gamer-content-box {
    width: 42%;
    text-align: right;
}

.gamer-img-box img {
    width: 100%;
}

.gamer-content-box h2,
.funny-videos
{
    font-size: 2.7rem;
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-content-box p,
.game-videos-content-box p,
.mainBox-for-video p,
.play-game-online-content p
{
    color: #534C64;
    font-size: 1.1rem;
    margin-bottom: 22px;
}


/* funny game videos section */

section.videos-section
{
    background-color: unset;
}

.game-videos-box-wrapper {
    display: flex;
    gap: 17px;
    justify-content: center;
}

.game-videos-content-box {
    text-align: center;
    margin-bottom: 40px;
}

.game-videos-content-box h3 {
    font-size: 2.5rem;
}

.game-videos-content-box p,
.mainBox-for-video p,
.play-game-online-content p
{
    margin-bottom: 0;
}

.mainBox-for-video {
    width: 24%;
}

.video-img, .video-img img {
    width: 100%;
}

.video-img{
    margin-bottom: 10px;
    position: relative;
}


.playIcon-and-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 98%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid #FF42A5;
    border-radius: 16px;
    cursor: pointer;
}

.playIcon-and-text i {
    color: white;
    font-size: 2.3rem;
    
}

.playIcon-and-text span {
    display: inline-block;
    font-size: 1.3rem;
    color: #F948B2;
    font-weight: 500;
}





/* online game play free section */

.play-game-online-content {
    width: 50%;
    text-align: right;
    padding: 0px 140px;
}

.play-game-online-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-game-online-img {
    width: 50%;
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
}

.play-game-online-img img {
    width: 74%;
}

.play-game-online-content h2 {
    font-size: 2.5rem;
    margin-bottom: 16px;
    color: #0B0223;
}

.play-instantly{
    color: #F948B2;
}


.inner-playgame-img {
    width: 50%;
    position: absolute;
    left: -105px;
    bottom: -53px;
}

section.play-game-online{
    padding: 50px 0px 90px 0px;
}



.online{
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}




.online-play-img {
    text-align: center;
}

.online-content-play {
    text-align: left;
    padding: 0px 100px;
}

.innerImg-for-playGame {
    left: 23rem;
    bottom: -5rem;
}

section.section-for-online-game {
    padding: 70px 0px 150px 0px;
}







@media screen and (max-width:639px) {
    .logoAndMenu-wrapper,
    .gamer-section-wrapper,
    .game-videos-box-wrapper,
    .play-game-online-wrapper
    {
        flex-direction: column;
    }

    .nav-menu
    {
        display: none;
    }

    .logo{
        transform: scale(1.3);
    }

    /* Hero section */

    .mb-container{
        max-width: 97%;
        padding: 0px 10px;
        margin: 0 auto;
    }

    .hero-section-wrapper
    {
        flex-direction: column-reverse;
    }

    .hero-content-box{
        padding: 0px;
        margin: 0 auto;
    }

    .hero-content-box h1{
        width: unset;
    }

    .heor-img-box{
        justify-content: center;
        padding-top: 40px;
    }

    /* gamer section */

    .gamer-img-box
    {
        width: 100%;
    }

    .gamer-content-box{
        width: 100%;
        text-align: center;
    }

    /* funny video section */

    .game-videos-box-wrapper{
        gap: 30px;
    }

    .mainBox-for-video{
        width: 100%;
    }

    .play-game-online-content{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .play-game-online-img{
        width: 100%;
        text-align: center;
    }

    .inner-playgame-img{
        left: -16px;
        bottom: -41px;
    }

    .play-game-online-wrapper{
        gap: 50px;
    }

    .gamePlay-online-wrapper{
        flex-direction: column-reverse;
    }



}




/* (min-width: 640px and max-width: 767px) */

@media screen and (min-width:640px) and (max-width:767px) {
    .navWithIcon{
        padding: 9px 7px;
    }

    .nav-menu-wrapper li{
        margin-left: 23px;
    }

    .mb-container{
        max-width: 97%;
        padding: 0px 10px;
        margin: 0 auto;
    }

    .hero-section-wrapper
    {
        flex-direction: column-reverse;
    }
    
    .hero-content-box{
       
        margin: 0 auto;
        background-position: unset;
    }

    .hero-content-box h1{
        width: unset;
    }

    .heor-img-box{
        justify-content: center;
        padding-top: 40px;
    }

    /* gamer section */

    .gamer-section-wrapper,
    .game-videos-box-wrapper
    {
        flex-direction: column;
    }

    .gamer-img-box{
        width: 100%;
    }

    .gamer-content-box{
        width: 100%;
        text-align: center;
    }

    /* funny video section */

    .game-videos-box-wrapper{
        gap: 40px;
    }

    .mainBox-for-video{
        width: 100%;
    }

    .play-game-online-wrapper{
        flex-direction: column;
        gap: 50px;
    }

    .play-game-online-content{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .play-game-online-img{
        width: 100%;
        text-align: center;
    }

    .inner-playgame-img{
        left: -20px;
    }

    .innerImg-for-playGame{
        left: 326px;
    }

    .gamePlay-online-wrapper{
        flex-direction: column-reverse;
    }




}



/* (min-width: 768px and max-width: 1023px) */

@media screen and (min-width:768px) and (max-width:1023px) {



    .hero-content-box{
        width: 55%;
        padding: 50px 50px;
    }

    .heor-img-box{
        width: 45%;
    }

    .heor-img-box img{
        width: 92%;
    }

    .hero-buttons a:first-child{
        margin-right: 1rem;
    }

    /* gamer section */

    .gamer-img-box
    {
        width: 55%;
    }

    .gamer-content-box{
        width: 45%;
    }

    /* play game section */

    .play-game-online-content{
        padding: 30px;
    }

    .play-game-online-img{
        text-align: center;
    }

    .inner-playgame-img{
        left: -21px;
    }

    .innerImg-for-playGame{
        left: 220px;
    }

}


/* (min-width: 1024px and max-width: 1279px) */

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .hero-content-box{
        width: 52%;
        padding: 50px 50px;
    }

    .heor-img-box{
        width: 48%;
    }

    .heor-img-box img{
        width: 92%;
    }

    .hero-buttons a:first-child{
        margin-right: 1rem;
    }

    /* game play online */

    .play-game-online-content{
        padding: 90px;
    }

    .play-game-online-img{
        text-align: center;
    }

    .inner-playgame-img{
        left: -60px;
    }

    .innerImg-for-playGame{
        left: 290px;
    }

    section.section-for-online-game{
        padding: 10px 0px;
    }

    section.play-game-online{
        padding: 15px 0px;
    }

}



/* (min-width: 1280px and max-width: 1535px) */

@media screen and (min-width:1280px) and (max-width:1535px) {
    .hero-content-box{
        width: 52%;
        padding: 110px 70px;
    }

    .heor-img-box{
        width: 48%;
    }

    .heor-img-box img{
        width: 92%;
    }

    .hero-buttons a:first-child{
        margin-right: 1rem;
    }
}